html { height: 100%;}
body { height: 100%; margin:0!important; }


/* ==========================================================================
   Body
   ========================================================================== */
body{
    background-color: cv($dashboard-body-color);
}
   
/* ==========================================================================
   Borders
   ========================================================================== */
.border-top{
  /* padding-top: 10px; */
  border-top: 1px solid #b4b4b4;
}

.border-bottom{
  padding-bottom: 10px;
  border-bottom: 1px solid #b4b4b4;
}

hr{
  border-top-color:#ccc;
}

/* ==========================================================================
   Text
   ========================================================================== */
body{
  font-family: $opensans;
}